*~
*.py[cod]
*.tmp*
*.mo
*.EGG*
*.egg*
*.kpf
*.swp
*.wpr
.*.cfg
.hg/
.bzr/
.svn/
.project
.pydevproject
bin/
build/
develop-eggs/
downloads/
eggs/
fake-eggs/
parts/
dist/
var/
include/
lib*
.coverage
htmlcov



# OSX
.DS_Store
